<nav style="background: #b3b3b3; padding: 1em;">
    <NavLink href="/" Match="NavLinkMatch.All">Главная</NavLink>
    <NavLink href="/products">Продукты</NavLink>
    <NavLink href="/daysuntil">Дни до даты</NavLink>
</nav>
